### yahooFinancials 
https://pypi.org/project/yahoofinancials/
<br>
<p><strong> No intraday data </strong></p>

In [2]:
from yahoofinancials import YahooFinancials

In [3]:
ticker = 'MSFT'
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2018-04-24","2020-04-24", "daily") #no intradaya
# data result in JSON
# e.g data['MSFT']['prices'] ...

In [12]:
data['MSFT']['prices'][0]

{'date': 1524576600,
 'high': 96.47000122070312,
 'low': 92.41000366210938,
 'open': 96.23999786376953,
 'close': 93.12000274658203,
 'volume': 34524800,
 'adjclose': 90.37853240966797,
 'formatted_date': '2018-04-24'}

### Extracting Data for Multiple Stocks

In [13]:
import pandas as pd
from yahoofinancials import YahooFinancials
import datetime 

all_tickers = ['AAPL', 'MSFT', 'CSCO', 'AMZN', 'INTC']
ticker = 'MSFT'

In [19]:
#extracting stock data(historical close prices) for stock list
close_prices = pd.DataFrame()
end_date = (datetime.date.today()).strftime('%Y-%m-%d')
beg_date = (datetime.date.today() -  datetime.timedelta(1825)).strftime('%Y-%m-%d')

In [29]:
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date, end_date, 'daily')
    ohlc = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlc)[['formatted_date', 'adjclose']]
    temp.set_index('formatted_date', inplace = True)
    temp.dropna(inplace=True)
    close_prices[ticker] = temp['adjclose']

In [31]:
close_prices

                      AAPL        MSFT       CSCO         AMZN       INTC
formatted_date
2015-05-11      116.732750   42.712799  24.901993   432.850006  28.541685
2015-05-12      116.316917   42.694778  24.919044   431.019989  28.157524
2015-05-13      116.446297   42.947243  25.021343   426.869995  28.498030
2015-05-14      119.163139   43.930080  24.765589   432.279999  28.786152
2015-05-15      118.996811   43.551365  25.191849   426.000000  28.803614
...                    ...         ...        ...          ...        ...
2020-05-01      289.070007  174.570007  40.919998  2286.040039  57.147190
2020-05-04      293.160004  178.839996  41.349998  2315.989990  57.664272
2020-05-05      297.559998  180.759995  41.459999  2317.800049  58.419998
2020-05-06      300.630005  182.539993  41.150002  2351.260010  59.180000
2020-05-07      303.739990  183.600006  41.369999  2367.610107  59.169998

[1258 rows x 5 columns]