## yFinance - pip install yfinance

In [1]:
import yfinance as yf

In [ ]:
# 1. Relative date
# data = yf.download("MSFT", period = '6mo')

In [ ]:
# 2. day interval preset
#data = yf.download("MSFT", start="2017-01-01", end = "2020-05-07")

In [ ]:
#3. intraday preset (range has to be in the last 60 days)
data = yf.download("MSFT", period = "1mo", interval="5m")

### Multiple Data using yFinance

In [2]:
import datetime
import yfinance as yf
import pandas as pd 


stocks = ["AMZN","MSFT","INTC", "GOOG", "INFY.NS"] #TICKERS ON YAHOO FINANCE
start = datetime.datetime.today() - datetime.timedelta(30)
end = datetime.datetime.today()
cl_price = pd.DataFrame() # Empty data frame to fill with closing prices

# Looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker, start, end)['Adj Close'] #Adjusted CLose prices

"""
ohlcv_data = {}
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker,start, end)
"""

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
cl_price

                   AMZN        MSFT       INTC         GOOG     INFY.NS
Date
2020-04-07  2011.599976  163.490005  58.071968  1186.510010  639.000000
2020-04-08  2043.000000  165.130005  58.648708  1210.280029  631.599976
2020-04-09  2042.760010  165.139999  56.819042  1211.449951  636.250000
2020-04-13  2168.870117  165.509995  58.370281  1217.560059  637.400024
2020-04-14  2283.320068  173.699997  60.319271  1269.229980         NaN
2020-04-15  2307.679932  171.880005  58.539326  1262.469971  639.049988
2020-04-16  2408.189941  177.039993  60.448544  1263.469971  623.849976
2020-04-17  2375.000000  178.600006  60.020958  1283.250000  628.750000
2020-04-20  2393.610107  175.059998  58.847584  1266.609985  653.299988
2020-04-21  2328.120117  167.820007  56.043427  1216.339966  633.200012
2020-04-22  2363.489990  173.520004  59.762417  1263.209961  641.849976
2020-04-23  2399.449951  171.419998  58.708370  1276.310059  679.299988
2020-04-24  2410.219971  174.550003  58.927135  1279.310059  658.000000
2020-04-27  2376.000000  174.050003  59.135956  1275.880005  664.599976
2020-04-28  2314.080078  169.809998  58.419998  1233.670044  660.700012
2020-04-29  2372.709961  177.429993  61.452866  1341.479980  676.549988
2020-04-30  2474.000000  179.210007  59.643089  1348.660034  715.500000
2020-05-01  2286.040039  174.570007  57.147190  1320.609985         NaN
2020-05-04  2315.989990  178.839996  57.664272  1326.800049  673.700012
2020-05-05  2317.800049  180.759995  58.419998  1351.109985  673.700012
2020-05-06  2351.260010  182.539993  59.180000  1347.300049  665.900024